html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

h1, p, input, a {
    font-family: 'Roboto Condensed', sans-serif;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.register-card {
    width: 700px;
    height: 85%;
    max-height: 500px;
}

.login-card {
    width: 400px;
    height: 85%;
    max-height: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    align-items: center;
    justify-content: space-around;
}

.container .form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .form-content > input {
    margin-bottom: 0.5em;
}

#login {
    width: 65%;
    color: #ffffff;
    background-color: #36ad93;
    justify-content: center;
}

#login-logo {
    font-size: 2.0em;
    font-family: 'Pacifico', cursive;
    width: 100%;
    padding: 1em;
    color: #ffffff;
    text-align: center;
    background-color: #36ad93;
}

#login-title {
    color: #36ad93;
}

#login-button {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 3em;
    padding-right: 3em;
    text-decoration: none;
    color: white;
    background-color: #36ad93;
    border: #ffffff 1px solid;
    font-size: 0.75em;
    border-radius: 25px;
}

#login-button:hover {
    color: #36ad93;
    background-color: #ffffff;
}

#register {
    background-color: #ffffff;
}

#register-title {
    color: #36ad93;
}

#register input[type=text],
#register input[type=password] {
    width: 100%;
    background-color: #f7f7f7;
    border: none;
    padding: 1em;
}

#register-button {
    margin-top: 2em;
    width: 50%;
    height: 3em;
    font-size: 0.75em;
    color: #ffffff;
    border-radius: 25px;
    background-color: #36ad93;
    border: 1px #36ad93 solid;
}

#register-button:hover {
    color: #36ad93;
    background-color: white;
}

#register-link {
    margin-top: 0.5em;
    font-size: 0.90em;
    color: #36ad93;
    text-decoration: none;
}